
<!-- Launch file for the FieldAI NATS to ROS1 Bridge -->

<launch>

    <!-- Local constants: -->
    <arg name="namespace"       default="/fieldai" />
    <arg name="respawn"         default="true" />
    <arg name="respawn_delay"   default="5" />

    <!-- Start Node -->
    <group ns="$(arg namespace)">

        <node
            name="webrtc_server"
            pkg="webrtc_ros"
            type="webrtc_ros_server_node"
            respawn="$(arg respawn)"
            respawn_delay="$(arg respawn_delay)"
            output="screen"
            >
            <param
                name="port" value="9090"
            />
        </node>

    </group>

</launch>
